{
  "presets": [ ["env", {
    "useBuiltIns": true,
    "targets": {
      "browsers": "Explorer 11"
    }
  }], "stage-0" ],
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["./src"]
      }],
    ["inline-json-import", {}]
  ]
}


